// horror variables
/* 
$red:#E6473C;
$white:#F0F0F0;
$fixedWidth:33%;
*/
// horror variables

//paint variables
    // $grey:#F3EDE8;
//paint variables

//10x19 variables
    //$bg:#AF7832;
//10x19 variables

//10x19 variables
    //$bg:gainsboro;
//10x19 variables

//schwartz variables
    //$border:1px solid rgba(0,0,0,0.3);
//schwartz variables

//Tolv coding
    //$linkColor:#FF733E;
//Tolv coding

//rodiv coding
    //$fontHoverColor:#0000FF;
//rodiv coding

//playStation coding
    //$color:#0070D1;
//playStation coding

//donica coding
    //$red: #fc3f33;
    //$black: #444444;
//donica coding

//canal coding
    //$paddingLeft:60px;
    //$paddingTop:60px;
//canal coding
